<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>DeepFake</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>

  <body>
    <section class="one">
      <header>
        <a href="#" class="logo"
          ><img src="static/face.jpg" width="50px" />DeepFake Detector</a
        >
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="detection.html">Detection</a></li>
          <li><a href="about.html">About us</a></li>
        </ul>
      </header>

      <div class="content">
        
        <h2>DeepFake Detector</h2>
        <h3>
          A website that uses a Deep Learning model to determine whether a video
          is fake or not
        </h3>
        <a href="detection.html">
          <button>Get started</button>
        </a>
      </div>
      <img
        src="static/main.png"
        class="three"
        width="500px"
      />
    </section>
    
  </body>
</html>
